.card {
  display: block;
  position: relative;
  margin-bottom: @space-default;
  background-color: @card-bg;
  border: 1px solid @card-border-color;
  .shadow-z-1;
  & > .cover {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: darken(@card-bg, 5%);
    border-bottom: 1px solid @card-border-color;
    &.cover-primary {
      color: #fff;
      background-color: darken(@brand-primary, 5%);
    }
    &.cover-success {
      color: #fff;
      background-color: darken(@brand-success, 5%);
    }
    &.cover-info {
      color: #fff;
      background-color: darken(@brand-info, 5%);
    }
    &.cover-warning {
      color: #fff;
      background-color: darken(@brand-warning, 5%);
    }
    &.cover-danger {
      color: #fff;
      background-color: darken(@brand-danger, 5%);
    }
    & > .caption {
      position: absolute;
      bottom: 0;
      width: 100%;

      margin: 0;
      padding: @space-default;
      &.compact {
        padding: @space-small;
      }

      color: #fff;
      background-color: rgba(0, 0, 0, .25);

      & > a {
        color: #fff;
      }
    }
  }
}
.card-content {
  padding: @space-default;
  &.compact {
    padding: @space-small;
  }
}
