<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="shiverview"> <!--<![endif]-->
  <head ng-controller="headCtrl">
    <meta charset="utf-8">
    <title>Shiverview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/main.min.css" rel="stylesheet">
    <link ng-repeat="path in css" ng-href="/components/{{path}}" rel="stylesheet">
    <!-- Favicons -->
    <link rel="icon" href="/images/icons/favicon.png">
    <link rel="shortcut icon" href="/images/icons/favicon.png">
    <meta name="msapplication-TileColor" content="#292e33">
    <meta name="msapplication-TileImage" content="/images/icons/favicon-144.png">
    <link rel="apple-touch-icon-precomposed" href="/images/icons/favicon-152.png">

    <!-- Place anything custom after this. -->
  </head>
  <body ng-controller="bodyCtrl">
    <div class="ngProgress" ng-controller="progressCtrl"></div>
    <div id="message-toast" ng-controller="toastCtrl">
      <div class="alert" ng-show="show" ng-class="style">{{message}} <a class="toast-dismiss alert-link" href ng-click="dismiss()">Dismiss</a></div>
    </div>
    <div ng-controller="navCtrl">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand drawer-toggle" href ng-click="toggleDrawer()" ng-class="{active: drawerActive}"><span class="glyphicon glyphicon-th"></span></a>
          <a class="navbar-brand" href="#/">Shiverview</a>
        </div>
      </div>
    </nav>
    <nav class="drawer" id="drawer" ng-class="{active: drawerActive, animated: drawerAnimated}">
      <ul class="drawer-nav">
        <li ng-repeat="item in navList" ng-class="{active: checkActive(item.base)}">
          <a ng-if="item.href" ng-href="{{item.href}}">{{item.name}}</a>
          <a ng-if="item.views.length === 1" ng-href="{{'#'+item.views[0].path}}" ng-click="toggleDrawer">{{item.name}}</a>
          <a class="dropdown-toggle" href ng-if="item.views.length > 1" role="button">{{item.name}}</a>
          <ul class="drawer-subnav" ng-if="item.views.length > 1">
            <li ng-repeat="view in item.views" ng-class="{active: checkActive(view.path)}"><a ng-href="{{'#'+view.path}}" ng-click="toggleDrawer()">{{view.title}}</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="drawer-shade" id="drawer-shade" ng-show="drawerActive"></div>
    </div>
    <div class="view-animate-container">
      <div ng-view class="view-animate"></div>
    </div>

    <!--[if lt IE 9]>
    <script src="/components/es5-shim/es5-shim.js"></script>
    <script src="/components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- bower:js -->
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="components/angular-animate/angular-animate.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-touch/angular-touch.js"></script>
    <script src="components/ngprogress/build/ngProgress.js"></script>
    <!-- endbower -->

    <script src="/js/application.min.js"></script>
    <script src="/js/controllers.min.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
    -->

  </body>
</html>

<!--  Designed and developed by SFEI Systems Inc.  -->
<!--              super-ops@gmail.com              -->
<!--         Here's to what we build next.         -->
